@charset "utf-8";
/* CSS Document by Partha Pratim Sinha. DO NOT COPY */

#topbar{
background-color:#D8EB94;
color:#006633;
padding:5px 0px;
font-family: 'Hind Siliguri', sans-serif; 
border-bottom:#006633 1px solid;
font-size:18px;}

#footbar{
background-color:#D8EB94;
color:#006633;
padding:10px 0px;
font-family: 'Hind Siliguri', sans-serif; 
border-top:#006633 1px solid;
font-size:14px;}

#logobar {
padding:0px 0px 0px 0px;
}

#dashboardbody{
padding-top:110px;
padding-bottom:220px;}

#mainbody{
padding-top:0px;
padding-bottom:20px;}

hr.style5 {
	background-color: #fff;
	border-top: 2px dashed #0080C0;
}


.bodyheading{
color:#0080C0;
font-size:18px;
font-weight:600;
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Crimson Text', serif;}





/* For scrollbar-------------------------------------- */
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 6px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* For scrollbar-------------------------------------- */



/* For Navbar-------------------------------------- */

nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-findcond a { color: #f14444; }
nav.navbar-findcond ul.navbar-nav a { color: #fff; border-style: solid; border-width: 0 0 2px 0; border-color: #006633; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #f14444; color:#000000; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #f14444; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #f14444; color: #fff; }
nav.navbar-findcond span.badge { background: #f14444; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }

/* For Navbar-------------------------------------- */




/* For Slider---------------------------------------- */
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
	  height:420px !important;
	  padding:0px !important;
  }
/* For Slider---------------------------------------- */


/* For Gallery-------------------------------------------------------------------------------------------------------------- */
.modal-dialog {width:600px;}
.thumbnail {margin-bottom:6px;}

/* For Gallery--------------------------------------------------------------------------------------------------------------- */



@media (min-width: 320px) and (max-width: 800px) {

.spacing{
margin-bottom:10px;
text-align:center !important;}



}